<!-- <div class="row">
  <div class="span4">
  	<h2> Navigation Bar </h2>
  </div>
  <div class="span8"> -->

<% if user_signed_in?%>
	<div class="hero-unit">
  	<h1> This is Your private Home page </h1>
	</div>
<% else %>
	<div class="hero-unit">
	  	<h1>Welcome to my first Page!</h1>
			<p>
				da qui puoi cercare quello che vuoi
			<!--	<a href="http://www.google.com" >cerca qui</a> -->
			<%= link_to "cerca qui...", "http://www.google.com" %>
				e trovi ciò che vuoi
			</p>
			<p>
				<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %> 
				<!--<a href="#"> Sign up now!</a> -->
			</p>
	</div>

<% end %>

  <!-- </div>
</div>  -->



