<div class="footer">
	<small>
		<!--	<a href="http://www.google.com" >cerca qui</a> -->
		<%= link_to "cerca qui", "http://www.google.com" %>
		... by <%= link_to "Loretta", "http://it.linkedin.com/pub/loretta-diana/53/35b/b72" %>
	</small>

</div>